.projects {
    height: 200vh;
}

.project-container {
    position: relative;
    top: 10vh;
}

.work-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.work-col {
    flex-basis: 50%;
    margin: 1rem 0;
    margin-left: auto;
    margin-right: auto;
}

.project-card {
    position: relative;
    height: 38vh;
    width: 36rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trackid-img {
    height: 70px;
    width: 480px;
}

.ballastpoint-img {
    height: 92px;
    width: 576px;
}

.stussy-img {
    height: 240px;
    width: 240px;
}

.caltrends-img {
    height: 197px;
    width: 256px;
}

.br8s-img {
    height: 148px;
    width: 320px;
}

@media only screen and (max-width: 800px) {
    .trackid-img {
        height: 49.5px;
        width: 330px;
    }

    .ballastpoint-img {
        height: 53px;
        width: 330px;
    }

    .stussy-img {
        height: 220px;
        width: 220px;
    }

    .caltrends-img {
        height: 177px;
        width: 230px;
    }

    .br8s-img {
        height: 120px;
        width: 260px;
    }

    .project-card {
        width: 100%;
    }
}
