.projects {
    width: 100%;
    margin-bottom: 20vh;
}

.project-container {
    position: relative;
    width: 100%;
    top: 10vh;
}

.work-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.work-col {
    flex-basis: 100%;
    margin: 1rem 0;
    margin-left: auto;
    margin-right: auto;
}

.project-card {
    position: relative;
    height: 70vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-logo{
    width: 55%;
}

.stussy-logo{
    width: 20%;
}

.br8s-logo{
    width: 30%;
}

.cacti-logo{
    width: 50%;
}


@media only screen and (max-width: 800px) {
    .project-card {
        height: 35vh;
    }

    .project-logo{
        width: 70%;
    }
    
    .stussy-logo{
        width: 35%;
    }
    
    .br8s-logo{
        width: 40%;
    }
    
    .cacti-logo{
        width: 50%;
    }
}
