.projects {
    height: 200vh;
}

.project-container {
    position: relative;
    top: 10vh;
}

.work-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.work-col {
    flex-basis: 50%;
    margin: 1rem 0;
    margin-left: auto;
    margin-right: auto;
}

.project-card {
    position: relative;
    height: 38vh;
    width: 36rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trackid-img {
    height: 70px;
    width: 480px;
}

.ballastpoint-img {
    height: 92px;
    width: 576px;
}

.stussy-img {
    height: 240px;
    width: 240px;
}

.caltrends-img {
    height: 197px;
    width: 256px;
}

.br8s-img {
    height: 148px;
    width: 320px;
}

.work-link {
    visibility: hidden;
}

.trackid-links {
    position: relative;
    top: 20vh;
}

.ballastpoint-links {
    position: relative;
    top: 13vh;
}

.stussy-links {
    position: relative;
    top: 3vh;
}

.caltrends-links {
    position: relative;
    top: 10vh;
}

.br8s-links {
    position: relative;
    top: 15vh;
}

@media only screen and (max-width: 1170px) {
    /*
    .projects {
        height: 240vh;
    }

    .project-card {
        min-height: 40vh;
    }

*/
}

@media only screen and (max-width: 800px) {
    .trackid-img {
        width: 18rem;
    }

    .ballastpoint-img {
        width: 21rem;
    }

    .stussy-img {
        width: 10rem;
    }

    .caltrends-img {
        width: 11rem;
    }

    .br8s-img {
        width: 14rem;
    }

    .project-card {
        width: 100%;
    }
}
